.post-header {
  display: flex;
  align-items: center;
}

.post-image {
  margin-left: 15px; /* Adjust spacing as needed */
}

.post-image-size {
  width: 200px;
  height: auto;
  float: left;
  margin-left: 15px; /* Adjust spacing as needed */
}

.post-item p {
  clear: both; /* Ensures text wraps around the image properly */
}
